table {
	width: 100%;
}
.countryName {
	width: 30%;
}
.countryGrade {
	width: 15%;
}
.text-center {
    text-align: center !important;
}
.colGreen {
	color: #33cc00;
}
.bkgGreen {
	background-color: #33cc00;
}
.colYellow {
	color: #ffcc00;
}
.bkgYellow {
	background-color: #ffcc00;
}
.colRed {
	color: #cc0000;
}
.bkgRed {
	background-color: #cc0000;
}

.bkgBar {
	background-color:#CCC;
	height:8px;
	width:100%;
}
.bar {
	float: left;
	height:8px;
}
.report_section {
	padding-bottom: 50px;
}