<div class="card" id="nic">
  <div class="card-block">
    <h4 class="card-title">Global Courses Progress</h4>
    <div class="row">
      <div class="col-md-4"><h6 class="card-subtitle mb-2 text-muted">Not Started<br>64%</h6></div>
      <div class="col-md-4"><h6 class="card-subtitle mb-2 text-muted">Started<br>7%</h6></div>
      <div class="col-md-4"><h6 class="card-subtitle mb-2 text-muted">Completed<br>29%</h6></div>
    </div>
    <p class="card-text">Indonesia 733 81 331</p>
    <p class="card-text">Malaysia 1 0 1</p>
  </div>
</div>