<div class="card card_style">
    <div class="card-body">
        <h4 class="card-title text-center">Average Final Test Result</h4>
        <h5 class="card-title text-center">60.5%</h5>
        <table>
        <tr>
            <td class="countryName">Indonesia</td>
            <td class="countryGrade">86%</td>
            <td>
                <div class="bkgBar">
                    <div class="bar bkgGreen" style="width:86%;">
                        <img src="/pix/spacer.gif" width="1" height="1" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="countryName">Malaysia</td>
            <td class="countryGrade">35%</td>
            <td>
                <div class="bkgBar">
                    <div class="bar bkgGreen" style="width:35%;">
                        <img src="/pix/spacer.gif" width="1" height="1" />
                    </div>
                </div>
            </td>
        </tr>
        </table>
    </div>
</div>