{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_iomadanalytics/all_ctry_avg_block

    Template which defines the how many student completed, started or not started the course

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * headings - string: block title
    * keyMetric - string: average of all country
  * countries - array: contains all the country name along with their final test average
}}
{{# AllCtryProgressBlock}}
<div class="card card_style">
  <div class="card-body">
    <h4 class="card-title text-center">{{# str }}AllCtryProgressBlock_title, report_iomadanalytics{{/ str }}</h4>
    {{# keyMetric}}
    <div id="progress_block_summary" class="row">
      <div class="col-md-4"><p class="text-center">{{{notStarted_label}}}<br><span class="colRed">{{notStarted_metric}}%</span></p></div>
      <div class="col-md-4"><p class="text-center">{{started_label}}<br><span class="colYellow">{{started_metric}}%</span></p></div>
      <div class="col-md-4"><p class="text-center">{{completed_label}}<br><span class="colGreen">{{completed_metric}}%</span></p></div>
    </div>
    {{/ keyMetric}}
    {{# countries}}
    <table>
        <tr>
            <td class="countryName">{{name}}</td>
            <td><canvas id="chart-allCtryProgressBlock-{{countryid}}" height="8" style="height: 8px;"></canvas></td>
        </tr>
    </table>
    {{/ countries}}
  </div>
</div>
{{/ AllCtryProgressBlock}}