<div class="card card_style">
    <div class="card-body">
        <h4 class="card-title text-center">Average Final Test Result</h4>
        <h5 class="card-title text-center">78%</h5>
        <table>
        <tr>
            <td class="countryName">Indonesia</td>
            <td class="countryGrade">84%</td>
            <td><canvas id="chart-AllCtryAvgBlock-ID" height="8" style="height: 8px;"></canvas></td>
        </tr>
        <tr>
            <td class="countryName">Malaysia</td>
            <td class="countryGrade">72%</td>
            <td><canvas id="chart-AllCtryAvgBlock-MY" height="8" style="height: 8px;"></canvas></td>
        </tr>
        </table>
    </div>
</div>