<div class="card" id="nic">
    <div class="card-block">
        <h4 class="card-title">Average Fianl Test Result</h4>
        <h6 class="card-subtitle mb-2 text-muted">61%</h6>
        <p>Indonesia 87</p>
        <p>Malaysia 35</p>
    </div>
</div>