{{!
	name
	shortname
	id
	country
}}

{{# CompanyList}}
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="{{shortname}}" id="{{shortname}}">{{name}}
  </label>
</div>
{{/ CompanyList}}