{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_iomadanalytics/CompanyList

    Template which defines the company checkbox list in country selector

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id - int: the company ID
    * name  - string: Company name
    * shortname - string: Company's shortname
    * Country - string: Company's country code (ID, MY, etc)
}}
{{# CompanyList}}
<div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input"  checked="checked" value="{{shortname}}" id="{{id}}">
    <label class="custom-control-label" for="{{id}}">{{name}}</label>
</div>
{{/ CompanyList}}