{{!
	name
	shortname
	id
	country
}}

{{# CompanyList}}
<div class="form-check">
  <label class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" checked="checked" value="{{shortname}}" id="{{id}}">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{name}}</span>
  </label>
</div>
{{/ CompanyList}}