<div class="graphDetails">
	<p class="card-text">
		{{# str }}gradesGraph_appplied_filter, report_iomadanalytics{{/ str }}: {{filter}}<br />
		{{# str }}gradesGraph_companies , report_iomadanalytics{{/ str }}: {{CompanyList}}
	</p>
</div>