<ul class="nav nav-tabs" role="tablist">
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dob" role="tab">Date of Birth</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Education" role="tab">Education</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gender" role="tab">Gender</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#organization" role="tab">Organization</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#nationality" role="tab">Nationality</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#joindate" role="tab">Join Date</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#department" role="tab">Department</a></li>
<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#region" role="tab">Office/ Work Area</a></li>
</ul>

renderTabContent