{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_iomadanalytics/all_ctry_avg_block

    Template which defines the average of each countries final test grade

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * headings - string: block title
    * keyMetric - string: average of all country
  * countries - array: contains all the country name along with their final test average
}}
<div class="report_section">
  <div class="row">
    <div class="col-md-12">
      <h2>{{systemoverview_block_title}}</h2>
    </div>
  </div>
  <div class="card-deck">
    {{> report_iomadanalytics/allCtryAvgBlock_rendered }}
    {{> report_iomadanalytics/allCtryProgressBlock_rendered }}
    {{> report_iomadanalytics/allCtryTimeCompBlock_rendered }}
  </div>
</div>

<div class="report_section">

<!--
  <div class="row">
    <div class="col-md-12">
      <h2>{{countryselector_block_title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      {{# CntryList}}
      <div class="col-md-6">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="{{country_abbr}}" id="{{country_abbr}}">{{country_name}}
        </label>
      </div>
      <div class="country-{{country_abbr}}">
        {{{companies}}}
      </div>
      </div>
      {{/ CntryList}}
      </div>
    </div>
  </div>
  <input type="button" id="btn" value="trigger" />
-->

  {{> report_iomadanalytics/filters_tabs_rendered }}
</div>
<div class="report_section">

  {{!
    Graph Final Grades
  }}
  <div class="row">
    <div class="col-md-12">
      <h2>{{gradesGraph_block_title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <canvas id="chart-grades"></canvas>
    </div>
  </div>

  {{!
    Graph Progress
  }}
  <div class="row">
    <div class="col-md-12">
      <h2>{{progressGraph_block_title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row" id="progressGraph"></div>
    </div>
  </div>

</div><!-- /report_section -->